// font-family: 'Oswald', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap');
// font-family: 'Noto Sans JP', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');

$green: #177E89;
$dark-green: #084C61;
$dark-blue: #017497;
$bright-red: #DB3A34;
$gold: #FFC857;
$dark-grey: #323031;
$medium-grey: #70757a;
$light-grey: #B2A7AC;
$off-white: #fffcf2;
$black: #131212;

$app-colors: (
    green: $green,
    dark-green:$dark-green,
    dark-blue:$dark-blue,
    bright-red: $bright-red,
    gold: $gold,
    dark-grey: $dark-grey,
    medium-grey: $medium-grey,
    light-grey: $light-grey,
    off-white: $off-white,
    black: $black
    );


$font-weights: (
    300: 300,
    400: 400,
    500: 500,
    600: 600,
    700: 700
);
    
$jumbo-height: 200px;
$oswald-font: 'Oswald', sans-serif;
$noto-font: 'Noto Sans JP', sans-serif;


// ============= Utility classes ==========

// This creates a map of each color/weight to the attribute passed in.
@mixin attribute-color($att: 'color') {
    @each $name, $color in $app-colors {
      &-#{$name} {
        #{$att}: $color;
        }
    }
}
@mixin attribute-font-weight($att: 'font-weight') {
    @each $name, $weight in $font-weights{
    &-#{$name} {
        #{$att}: $weight;
        }
    }
}
.bg {
    @include attribute-color($att: 'background-color');
}
.text {
    @include attribute-color($att: 'color')
}
.weight {
    @include attribute-font-weight($att: 'font-weight')
}
// =============================================
body {
    margin: 0;
    font-family: 'Noto Sans JP', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // background-image: url("../images/rockywall.png");
    // background-color: $off-white;
    color: $dark-grey;
    min-height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header {
    font-weight: 500;
    font-size: .875rem;
    margin-top: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-transform: uppercase;
    color: #B2A7AC;
    border-bottom: dashed 2px #B2A7AC;
    
}
.jumbotron {
    background-image: url(../images/pexels-marta-dzedyshko-2067431.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 70%;
    border-radius: 0;
    
    
    h1 {
        color: white;
        font-family: $oswald-font;
        font-weight: 500;
        font-size:3.5rem;
        line-height: 100%;
        @media screen and (max-width: 576px) {
            font-size: 2.5rem
        }
    }
    p {
        font-size: 0.875rem;
        color: $off-white
        
    }
}

.footer {
    // position: fixed;
    // bottom: 0;
    // width: 100%;
    color: $light-grey;
    margin-bottom: 0!important;
    
    h1 {
        font-size: 0.875rem;
        font-family: $oswald-font;
        line-height: 100%;
        margin-bottom: 0.05rem;
        text-transform: uppercase
        
    }
    
    p {
        font-size: 0.6875rem;
    }
    
    a {
        text-decoration: none;
        color: $light-grey;
        &:hover {
            color: $gold;
        }
    }
    
}
.content {
    // min-height: 100vh;
    overflow: auto;
}
.dashed-lines {
    // padding: 1rem 0 1rem 0;
    border-bottom: dashed 2px $dark-grey;

}
.card-body {
    .h5 {
        font-family: $oswald-font !important;
    }
}

.venue-details:hover {
    color: $medium-grey;
    cursor: pointer;
}